<div class="container-sign-in">
  <header id="log-in">Resend confirmation instructions</header>

  <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>
    <%= f.full_error :confirmation_token %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  label: false,
                  autofocus: true,
                  value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                  input_html: { autocomplete: "email", placeholder:"email", class: "no-border" } %>
    </div>

    <div class="form-actions">
      <button class="plana-btn-green"><%= f.button :submit, "Resend confirmation instructions" %></button>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
