<!-- <div class="falling-leaves" style="z-index: -1;"> -->
<div class="container-sign-in">
  <header style="margin-top: 80px;" id="sign-up">plana</header>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
  <div class="form-inputs">
      <%= f.input :first_name,
                  label: false,
                  required: true,
                  input_html: { placeholder:"first name", autocomplete: "first-name", class:"no-border"}%>
      <%= f.input :last_name,
                  label: false,
                  required: true,
                  input_html: { placeholder:"last name", autocomplete: "last-name", class:"no-border" }%>
      <%= f.input :city,
                  label: false,
                  required: true,
                  input_html: { type:"search",placeholder:"city", id: "address-input", autocomplete: "city", class:"no-border" }%>
      <%= f.input :username,
                  label: false,
                  required: true,
                  input_html: { placeholder:"username", autocomplete: "username", class:"no-border" }%>
      <%= f.input :email,
                  label: false,
                  required: true,
                  input_html: { placeholder:"email", autocomplete: "email", class:"no-border" }%>
      <%= f.input :password,
                  label: false,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { placeholder:"password", autocomplete: "new-password", class:"no-border" } %>
      <%= f.input :password_confirmation,
                  label: false,
                  input_html: { placeholder:"repeat password", autocomplete: "new-password", class:"no-border" } %>
    </div>

    <div class="form-actions">
      <button class="plana-btn-green"><%= f.button :submit, "SIGN UP" %></button>
    </div>
  <% end %>

  <div class="rander-sign-in mt-0">
  <%= render "devise/shared/links" %>
  </div>
  </div>
<!-- </div> -->
