<div class="container-sign-in">
  <header id="log-in">Resend unlock instructions</header>

  <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>
    <%= f.full_error :unlock_token %>

    <div class="form-inputs">
      <%= f.input :email,
                  label: false,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email", placeholder:"email", class: "no-border" } %>
    </div>

    <div class="form-actions">
      <button class="plana-btn-green"><%= f.button :submit, "Resend unlock instructions" %></button>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
