 <div class="navbar2">
   <!-- nav bar -->
    <%= link_to categories_path, alt: "3 square icon" do %>
      <%= image_tag 'tools.png', class: 'squares-icon' %>
      <% end %>
    <%= link_to dashboard_path, alt: "3 square icon" do %>
      <%= image_tag 'drop-nav.png', class: 'teardrop-icon' %>
      <% end %>
    <%= link_to ranking_path, alt: "3 square icon" do %>
      <%= image_tag 'dropdown.png', class: 'squares-icon' %>
      <% end %>
</div>
