<!-- tracking of current challenge + daily recommendations & tips  -->
<!-- this is the dashboard that displays the current challenge with its info  -->
<%= render 'shared/navbar' %>
  <!-- DASHBOARD  -->
<div class="main-container">
  <div class="dashboard-header">
    <%= link_to profile_path do %>
      <%= image_tag 'default_headshot.png', class: 'small-profile-avatar' %>
    <% end %>
    <div class="dashboard-header-infos">
      <div class="header-icon-box">
        <h2>PLANTBASED</h2>
        <%= image_tag "sprout1.svg", class: "sprout-icon" %>
        <% image_tag "sprout2.svg", class: "sprout-icon" %>
        <% image_tag "sprout3.svg", class: "sprout-icon" %>
        <% image_tag "tree.svg", class: "sprout-icon" %>
        <% image_tag "planet-earth.svg", class: "sprout-icon" %>
      </div>
      <p><%= Date.today %></p>
    </div>
  </div>

<div class ="tip-container">
  <div class='log-box'>
    <p class='plana-btn-grey'>LOGGED</p>
  </div>

  <div class="tip-box-card">
    <p>Daily Tip</p>
    <div class="tip-box">
      ENTER TIP HERE
    </div>
  </div>

  <div class="tip-box-card">
    <p>Daily Tip</p>
    <div class="tip-box">
      ENTER TIP HERE
    </div>
  </div>

  <div class='log-box'>
    <%= link_to 'NEW CHALLENGE', challenges_path, class: 'plana-btn-green' %>
  </div>
</div>
</div>
