<!-- tracking of current challenge + daily recommendations & tips  -->
<!-- this is the dashboard that displays the current challenge with its info  -->
<%= render 'shared/navbar' %>
  <!-- DASHBOARD  -->
<div class="main-container">

  <% if current_user.commitment_done?(@user.commitments.last) %>

    <div class="footprint-container">
      <i class="fas fa-star fa-3x"></i>
      <h2>Congratulations!</h2>
    </div>

    <div class="footprint-grid">
      <div class="footprint-text">
        <p>You finished your challenge! </p>
        <p>Keep choosing Plana 🌎</p>

        <div class="profile-container mb-4">
          <div class="profile-cards">
            <%= image_tag 'drop-rectangle.png', alt: 'points', class: 'profile-icon' %>
            <p class='number'>+ 10</p>
            <p class='descriptions'>Points</p>
          </div>
        <div class="profile-cards">
          <%= image_tag 'calculator-rectangle.png', alt: 'schedule', class: 'profile-icon' %>
          <p class='number'><%=(current_user.commitments.last.challenge.duration * current_user.commitments.last.challenge.impact).round(2) %> Kg</p>
          <p class='descriptions'>CO2 saved</p>
        </div>
      </div>
      <div class='container mb-3'>
        <%= link_to profile_path do %>
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, class: 'profile-avatar' %>
        <% else %>
          <%= image_tag "profile-placeholder.png", class: "profile-avatar", alt: "profile picture" %>
        <% end %>
      </div>

      <%= link_to challenges_path do %>
        <p class='plana-btn-green-pick mb-4'> PICK A CHALLENGE </p>
      <% end %>

    <% end %>
    </div>


<% else %>
  <div class="dashboard-main">
    <div class="dashboard-header">
      <%= link_to profile_path do %>
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, class: 'small-profile-avatar' %>
        <% else %>
          <%= image_tag "profile-placeholder.png", class: "small-profile-avatar", alt: "profile picture" %>
        <% end %>
      <% end %>
      <div class="dashboard-header-infos">
        <div class="header-icon-box">
          <h2> Challenge Progress</h2>
        </div>
        <p><%= Date.today.strftime("%A, %d %B")%></p>
      </div>
    </div>
  </div>

  <div class="dashboard-challenge-container">
    <div class="challenge-card-green">
      <span class='challenge-icon-white'>
        <%= image_tag "growing_sprout1.png", class: "sprout-icon" %>
        <% image_tag "sprout2.svg", class: "sprout-icon" %>
        <% image_tag "sprout3.svg", class: "sprout-icon" %>
        <% image_tag "tree.svg", class: "sprout-icon" %>
        <% image_tag "planet-earth.svg", class: "sprout-icon" %>
      </span>
      <div class='text'>
        <p style="font-weight: bold;"><%= @challenge.category.upcase %></p>
      </div>
    </div>

    <% if @user.done["#{Date.today}"] %>
      <p class='plana-btn-dark'>DONE</p>
    <% else %>
      <p class='plana-btn-grey done-btn'>MARK</p>
    <% end %>
  </div>



  <div class="tip-box-card">
    <p>Info on challenge</p>
    <div class="tip-box">
      <%=  @challenge.information  %>
    </div>
  </div>


  <% if @challenge.category == "plant-based"  %>
    <% recipe = Item.where(category: Category.where(name: 'plant-based recipes'))[Date.today.month] %>
      <% if recipe != nil %>

        <div class="try-box-card">
          <p>Try this out!</p>
        </div>

        <div class="tip-box-item-card">
          <%= render partial: 'categories/item_card', locals: {item: recipe, page: 'dashboard'} %>
        </div>
      <% end %>


  <% elsif @challenge.category == "plastic-free" %>
    <% shop = Item.where(category: Category.where(name: 'shop responsibly'))[Date.today.month] %>

      <div class="try-box-card">
        <p>Check out this sustainable shop!</p>
      </div>

      <div class="tip-box-item-card">
        <%= render partial: 'categories/item_card', locals: {item: shop, page: 'dashboard'} %>
      </div>

  <% end %>

  <div class='log-box mb-50'>
    <%= link_to 'SEND CHALLENGE', ranking_path, class: 'plana-btn-green' %>
  </div>




  <div style="display: none;">
    <%= simple_form_for(@user, url: dashboard_path, :html=> { class: 'done-attributes' }) do |f| %>
      <%= f.simple_fields_for :done do |done_f| %>
        <%= done_f.input "#{Date.today}", input_html: { class: 'done-input-attribute' } %>
      <% end %>
      <%= f.button :submit %>
    <% end %>
  </div>
  <% end %>
</div>



