<!-- tracking of current challenge + daily recommendations & tips  -->
<!-- this is the dashboard that displays the current challenge with its info  -->
<%= render 'shared/navbar' %>
  <!-- DASHBOARD  -->
<div class="main-container mx-2">

  <% if current_user.commitment_done?(@user.commitments.last) %>

    <div class="footprint-container">
      <i class="fas fa-star fa-3x"></i>
      <h2 style="font-size: 26px">Congratulations!</h2>
    </div>

    <div class="footprint-grid">
      <div class="footprint-text">
        <p>You finished your challenge & went <%= current_user.commitments.last.challenge.category %> for <%= current_user.commitments.last.challenge.duration %> days. </p>

        <div class="profile-container mb-4">
          <div class="profile-cards">
            <%= image_tag 'drop-rectangle.png', alt: 'points', class: 'profile-icon' %>
            <p class='number mt-1'>+ 10</p>
            <p class='descriptions'>Points</p>
          </div>
        <div class="profile-cards">
          <%= image_tag 'calculator-rectangle.png', alt: 'schedule', class: 'profile-icon' %>
          <p class='number mt-1'><%=(current_user.commitments.last.challenge.duration * current_user.commitments.last.challenge.impact).round(2) %> Kg</p>
          <p class='descriptions'>CO2 saved</p>
        </div>
      </div>

      <%= link_to challenges_path do %>
        <p class='plana-btn-green-pick mb-5'> NEW CHALLENGE </p>
      <% end %>

      <p>KEEP CHOOSING PLANA 🌎</p>

    </div>


<% else %>

  <div class="challenge-progress-container">
    <%= link_to profile_path do %>
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class: 'small-profile-avatar' %>
      <% else %>
        <%= image_tag "profile-placeholder.png", class: "small-profile-avatar", alt: "profile picture" %>
      <% end %>
    <% end %>
    <h2 style="font-size: 26px";>Challenge Progress</h2>
  </div>

  <div class="challenge-grid-container">
    <div class="challenge-progress-grid">
      <div class="challenge-progress-grid-card">
        <div>
          <% if @challenge.category == "plant-based" %>
            <i style="text-indent: 12px; font-size: 32px; color: #7DC7BE" class="fas fa-seedling mt-3 mb-2"></i>
          <% elsif @challenge.category == "plastic-free" %>
            <i style="text-indent: 12px; font-size: 32px; color: #7DC7BE" class="fas fa-carrot mt-3 mb-2"></i>
          <% end %>
          <p style="text-indent: 12px; font-size: 18px;"><%= @challenge.category.upcase %></p>
        </div>
      </div>


      <div class="challenge-progress-grid-card">
        <div class="pt-1">
          <% if @user.done["#{Date.today}"] %>
            <p class='plana-btn-dark'>DONE</p>
          <% else %>
            <p class='plana-btn-grey done-btn'>MARK</p>
          <% end %>
          <p style="text-indent: 12px;"><%= Date.today.strftime("%a, %d %b")%></p>
        </div>
      </div>
    </div>


    <div class="challenge-progress-grid">
      <div class="challenge-progress-grid-card">
        <div>
          <i style="text-indent: 12px; font-size: 32px; color: #FF9987" class="fas fa-calculator mt-3 mb-2"></i>
          <p style="text-indent: 12px;"><%= (@user.done.size * @challenge.impact).round(1) %> Kg C02 saved</p>
        </div>
      </div>

      <div class="challenge-progress-grid-card">
        <div>
          <i style="text-indent: 12px; font-size: 32px; color: #9B9BFF" class="fas fa-clock mt-3 mb-2"></i>
          <p style="text-indent: 12px;"><%= (Date.today - @user.commitments.last.start_date).to_i %> / <%= @challenge.duration %> days</p>
        </div>
      </div>
    </div>
  </div>

<div class="tip-box-card">
  <p>What's my challenge?</p>
  <div class="tip-box" style="text-align:center;">
    <% if @challenge.category == "plant-based"  %>
      <%= image_tag 'vegan-diet.png', alt: 'points', class: 'challenge-icons-img' %>
    <% elsif @challenge.category == "plastic-free" %>
      <%= image_tag 'plastic-free.png', alt: 'points', class: 'challenge-icons-img' %>
    <% end %>
  </div>
</div>

<div class="tip-box-card">
  <p>Eco-tip of the day</p>
  <div class="tip-box">
    Eco-tip of the day - random from array ( ex. array[Date.today.month])
  </div>
</div>

  <% if @challenge.category == "plant-based"  %>
    <% recipe = Item.where(category: Category.where(name: 'plant-based recipes'))[Date.today.month] %>
      <% if recipe != nil %>

        <div class="try-box-card">
          <p>Try this out!</p>
        </div>

        <div class="tip-box-item-card">
          <%= render partial: 'categories/item_card', locals: {item: recipe, page: 'dashboard'} %>
        </div>
      <% end %>


  <% elsif @challenge.category == "plastic-free" %>
    <% shop = Item.where(category: Category.where(name: 'shop responsibly'))[Date.today.month] %>

      <div id="plastic-shop" class="try-box-card">
        <p>Check out this sustainable shop!</p>
      </div>

      <div class="tip-box-item-card">

        <%= render partial: 'categories/item_card', locals: {item: shop, page: 'dashboard'} %>
      </div>

<% end %>


<div class="tip-box-card mt-4">
  <p>Info on challenge</p>
  <div class="tip-box">
    TO UPDATE WITH BETTER & SHORTER DESCRIPTION (SEEDS):<%=  @challenge.information  %>
  </div>
</div>





<div class='log-box'>
    <%= link_to 'EXPLORE THE TOOLS', categories_path, class: 'plana-btn-green mb-0' %>
</div>

</div>

  <div style="display: none;">
    <%= simple_form_for(@user, url: dashboard_path, :html=> { class: 'done-attributes' }) do |f| %>
      <%= f.simple_fields_for :done do |done_f| %>
        <%= done_f.input "#{Date.today}", input_html: { class: 'done-input-attribute' } %>
      <% end %>
      <%= f.button :submit %>
    <% end %>
  </div>
  <% end %>
</div>



