<!-- <h1>Pages#home</h1> -->
<!-- <p>Find me in app/views/pages/home.html.erb</p> -->

<!-- tracking of current challenge + daily recommendations & tips  -->
<!-- this is the dashboard that displays the current challenge with its info  -->


<!-- <div class="home-container" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'forest-main.jpg' %>);">
  <div class='set'>
    <header id="home">plana</header>
  </div>

  <div class="login-buttons">
    <p><%= link_to "SIGN UP", welcome_path, class: "plana-btn-green" %></p>
    <% if user_signed_in? %>
      <%= link_to "LOGIN", dashboard_path, class: "plana-btn-log-grey" %>
    <% else %>
      <%= link_to "LOGIN", new_user_session_path, class: "plana-btn-log-grey" %>
    <% end %>
  </div>
</div>
 -->

<div class="navbar navbar-expand-sm navbar-landing fixed-top">
  <a class="navbar-brand" href="/">
    <%= image_tag 'plana.png', alt: 'logo', class: 'logo-landing' %>
  </a>
  <div class="lapse navbarlapse">
    <a href="mailto:info@chooseplana.com" class="plana-btn-green-contact my-2">CONTACT</a>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,1)), url(<%= asset_path 'forest-main.jpg' %>);">
  <div class="container" style="height: 90vh;">
    <h1>Your guide to healthier habits, for  <strong>you</strong> & for the <strong>planet</strong>.</h1>
    <%= image_tag 'choose-plana.png', alt: 'choose-plana', class: 'choose-plana' %>
    <br>
    <br>
    <%= link_to "TRY THE DEMO", dashboard_path, class: "plana-btn-green-sq mt-5" %>
  </div>
    <div class="container px-4 justify-content-sm-between step-0-container">
      <%= image_tag 'step-0.png', alt: 'step-0', class: 'step-0-img' %>
      <div class="intro-text py-5">
        <h2>Your tool to make a positive impact on the planet </h2>
        <p>Plana makes it easier for you to always choose the most sustainable option, to alwasy choose plan “a”. It calculates your carbon footprint and allows you to start reducing your CO2 impact by challenging you and your lifestyle.</p>
      </div>
  </div>
</div>

<br>
<br>

<div class="container mt-5">
  <div class="container p-4 justify-content-sm-between steps-container">
        <%= image_tag 'step-1.png', alt: 'step-1', class: 'steps-img' %>
        <div class="step-text py-5">
          <%= image_tag 'step-1-icon.png', alt: 'step-1', class: 'steps-icon' %>
          <h2>Calculate your  carbon footprint</h2>
          <p>By answering a few questions on your lifestyle, Plana calculates an astimate of your total yearly CO2 emissions.</p>
        </div>
  </div>
</div>

<div class="container mt-5">
  <div class="container p-4 justify-content-sm-between steps-container">
        <div class="step-text py-5">
          <%= image_tag 'step-2-icon.png', alt: 'step-2', class: 'steps-icon' %>
          <h2>Pick a challenge to reduce your impact </h2>
          <p>By answering a few questions on your lifestyle, Plana calculates an astimate of your total yearly CO2 emissions.</p>
        </div>
        <%= image_tag 'step-2.png', alt: 'step-2', class: 'steps-img' %>
  </div>
</div>

<div class="container mt-5">
  <div class="container p-4 justify-content-sm-between steps-container">
        <%= image_tag 'step-3.png', alt: 'step-3', class: 'steps-img' %>
        <div class="step-text py-5">
          <%= image_tag 'step-3-icon.png', alt: 'step-3', class: 'steps-icon' %>
          <h2>Use the tools to live more sustainably</h2>
          <p>You begin with challenges, but what if you want to continue making more responsible choices? Plana has many tools that facilitate your transition to a more sustainable lifestyle.</p>
        </div>
  </div>
</div>

<div class="container my-5">
  <div class="container p-4 justify-content-sm-between steps-container">
        <div class="step-text py-5">
          <%= image_tag 'step-4-icon.png', alt: 'step-4', class: 'steps-icon' %>
          <h2>Compete with your friends</h2>
          <p>What’s a challenge if there is no competition? Plana ranks users based on their score, so you can get motivated by seeing the progress of your friends.</p>
        </div>
        <%= image_tag 'step-4.png', alt: 'step-4', class: 'steps-img' %>
  </div>
</div>


<h1 class="team-title">Meet the team</h1>
<div class="my-5">
  <div class="team-grid">
    <div class="member-card">
      <%= image_tag 'meri.png', alt: 'meria-vittoria', class: 'mid-size mb-4' %>
      <h3>Maria Vittoria</h3>
      <h3>Dalla Rosa Prati</h3>
      <a href="https://www.linkedin.com/in/mvdallarosaprati/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="member-card">
      <%= image_tag 'kat.png', alt: 'katrina', class: 'mid-size mb-4' %>
      <h3>Katrina</h3>
      <h3>Robles</h3>
      <a href="https://www.linkedin.com/in/katrina-amor-robles/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="member-card">
      <%= image_tag 'enri.png', alt: 'lily', class: 'mid-size mb-4' %>
      <h3>Enrico </h3>
      <h3>Favaro</h3>
      <a href="https://www.linkedin.com/in/enrico-favaro/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="member-card">
      <%= image_tag 'lily.png', alt: 'enrico', class: 'mid-size mb-4' %>
      <h3>Lily </h3>
      <h3>Walch</h3>
      <a href="https://www.linkedin.com/in/lily-walch/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>
<br>
<br>
<br>
<div class="footer">
  <header>plana</header>
</div>
<br>
<br>
<br>
<br>

