<!-- list of all users with their info (User.all)  -->
<%= render 'shared/navbar' %>
<div class="main-container">

  <div class="container-ranking">
    <div class="top-ranking">
      <%= link_to profile_path do %>
      <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, class: 'small-profile-avatar' %>
      <% else %>
        <%= image_tag "profile-placeholder.png", class: 'small-profile-avatar', alt: "profile picture" %>
      <% end %>
      <% end %>

      <%= image_tag "Vector.png", class: "vector-ranking", alt: "plus" %>
    </div>
  </div>

  <div class="container-ranking">
    <div class="ranking-button">
       <div class="ranking-card-green">
        <p>WORLD</p>
       </div>
      <div class="ranking-card">
        <p>FRIENDS</p>
      </div>
    </div>
  </div>

  <div class="container-ranking">
    <% @users.each_with_index do |user, index| %>
    <div class="challanges-card">
      <div class="challenge-avatar">
      <% if user.photo.attached? %>
        <% if user == current_user  %>
          <%= cl_image_tag current_user.photo.key, class: "point-avatar"%>
        <% else %>
          <%= cl_image_tag user.photo.key, class: "point-avatar"%>
        <% end %>
      <% else %>
        <%= image_tag "profile-placeholder.png", class: "point-avatar", alt: "profile picture" %>
      <% end %>
      </div>

      <div class="card-info" >
        <span> <%= user.first_name.capitalize %><% user.last_name.capitalize %> </span>
        <div class="icons">
          <%= image_tag "drop.png", class: "point-icon mr-1", alt:"icon" %>
          <p><%=user.score%></p>
          <%= image_tag "schedule.png", class: "point-icon mr-1", alt: "icon" %>
          <p><%=user.commitments.size%></p style="margin-right: 20px;">
          <%= image_tag "calculator.png", class: "point-icon mr-1", alt: "icon" %>
          <p><%= user.footprint ? (user.footprint.mobility.round(1) + user.footprint.food.round(1) + user.footprint.household.round(1)).round(1) : 50 %></p style="margin-right: 20px;">
        </div>
      </div>

      <div class="card-points">
        <div>
          <%= index + 1 %>
        </div>
      </div>
    </div>
    <% end %>
  </div>

</div>
