<%= render 'shared/navbar' %>
<div class="main-container">
  <div class="challenge-index-container">
    <div class="index-text">
      Choose your
      4 week
      challenge
    </div>
    <div class="index-cards">
      <div class="challenge-card" data-option=<%= @challenges[0].id %>>
        <span class='challenge-icon-grey'><i class="fas fa-carrot fa-3x"></i></span>
        <div class='text'>
          <p><%= @challenges[0].category.upcase %></p>
        </div>
      </div>

      <div class="challenge-card" data-option=<%= @challenges[1].id%>>
      <!-- <div class="challenge-card-green"> -->
      <!-- <span class='challenge-icon-white'> -->
        <span class='challenge-icon-grey'><i class="fas fa-seedling fa-flip-horizontal fa-3x"></i></span>
        <div class='text'>
          <p><%= @challenges[1].category.upcase %></p>
        </div>
      </div>
    </div>
  </div>
</div>


<div style="display: none;">
  <%= simple_form_for(@commitment, url: challenges_path, :html=> { class: 'commitment-attributes' }) do |f| %>
    <%= f.input :challenge, input_html: { class: 'comm-input-attribute' } %>
    <%= f.button :submit %>
  <% end %>
</div>
