<div class="container-sign-in">
<header id="log-in">plana</header>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                label: false,
                required: false,
                autofocus: true,
                input_html: { placeholder: "email", autocomplete: "email", class: "no-border" } %>
    <%= f.input :password,
                label: false,
                required: false,
                input_html: { placeholder: "password", autocomplete: "password", class: "no-border" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <button class="plana-btn-green"><%= f.button :submit, "LOG IN" %></button>
  </div>
<% end %>

<div class="rander-sign-in">
<%= render "devise/shared/links" %>
</div>
</div>

