<!-- <h1>Challenges#index</h1>
<p>Find me in app/views/challenges/index.html.erb</p> -->

<!-- here we will list all the challenges & the user can pick the one he wants to commit to -->
<%= render 'shared/navbar' %>
<div class="main-container">
  <div class="challenge-index-container">
    <div class="index-text">
      Choose your
      4 week
      challenge
    </div>
    <div class="index-cards">
      <%= link_to discover_path do %>
        <div class="challenge-card">
          <span class='challenge-icon-grey'><i class="fas fa-carrot fa-3x"></i></span>
          <div class='text'>
            <p><%= @challenges[0].category.upcase %></p>
          </div>
        </div>
      <% end %>
      <%= link_to discover_path do %>
        <div class="challenge-card-green">
          <span class='challenge-icon-white'><i class="fas fa-seedling fa-flip-horizontal fa-3x"></i></span>
          <div class='text'>
            <p><%= @challenges[1].category.upcase %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
 </div>
