<!-- show current user carbon footprint results divided by mobility-food-household-->
<!-- + button to lower your impact through a challenge -->

<div class="footprint-container">
    <i class="fas fa-globe-europe fa-3x"></i>
    <h2>Your Carbon Footprint</h2>
</div>


<div class="footprint-grid">
  <div class="footprint-row">
    <div class="footprint-column">
      <i class="fas fa-car fa-2x"></i>
    </div>
    <div class="footprint-column">
      <i class="fas fa-shopping-cart fa-2x"></i>
    </div>
    <div class="footprint-column">
      <i class="fas fa-home fa-2x"></i>
    </div>
  </div>
  <div class="footprint-row">
    <div class="footprint-column">
      <p class='tonnes'><%=current_user.footprint.mobility.round(2) %> T</p>
      <p class="number">CO2 / year</p>
    </div>
    <div class="footprint-column">
      <p class='tonnes'><%=current_user.footprint.food.round(2) %> T</p>
      <p class="number">CO2 / year</p>
    </div>
    <div class="footprint-column">
      <p class='tonnes'><%=current_user.footprint.household.round(2) %> T</p>
      <p class="number">CO2 / year</p>
    </div>
  </div>

  <div class="footprint-row2">
    <div class="footprint-column">
      <%= image_tag 'calculator-rectangle.png', class: 'profile-icon' %>
    </div>
    <div class="footprint-column">
      <%= image_tag 'drop-rectangle.png', class: 'profile-icon' %>
    </div>
  </div>
  <div class="footprint-row">
    <div class="footprint-column">
      <p class='tonnes'><%= (current_user.footprint.mobility.round(2) + current_user.footprint.food.round(2) + current_user.footprint.household.round(2)).round(2) %> T</p>
      <p class="number">CO2 / year</p>
    </div>
    <div class="footprint-column">
      <p class='tonnes'><%= current_user.score %></p>
      <p class="number">Points</p>
    </div>
  </div>

  <div class="footprint-text mb-50">
    <p>Reduce your impact by switching your habits, begin with a 4-week challenge.</p>

    <%= link_to challenges_path do %>
      <p class='plana-btn-green'> PICK A CHALLENGE </p>
    <% end %>
  </div>

</div>
