  <div data-id="<%= item.id %>" class="item-card">
    <a href="<%= item.url %>" target="_blank">
      <div class="item-image">
        <img src="<%= cl_image_path item.photo.key%>">
      </div>
    <div class="item-card-infos">
      <h2><%= item.name.capitalize %></h2>
      <p><i class="fas fa-dollar-sign"></i> Price range: <%= item.description %>/5</p>

      <%if current_user.already_liked(item.id) %>
        <%= link_to item_favorite_path(item, current_user.already_liked(item.id), page: page),
          remote: true,
          id: 'heart-icon',
          method: :delete do %>
            <i class="fas fa-heart"></i>
            <% end %>
      <% else %>
        <%= link_to item_favorites_path(item_id: item.id, page: page),
          remote: true,
          id: 'heart-icon',
          method: :post do %>
            <i class="far fa-heart"></i>
          <% end %>
      <% end %>
    </div>
  </div>
</a>
