<% @items.each do |shop| %>
  <a href="<%= shop.url %>" target="_blank" style="text-decoration: none;">
    <div class="item-card">
      <img src="<%= cl_image_path shop.photo.key%>">
      <div class="item-card-infos">
        <h2><%= shop.name.capitalize %></h2>
        <p><i class="fas fa-dollar-sign"></i> Price range: <%= shop.description %>/5</p>

        <%if current_user.already_liked(shop.id) %>
          <%= link_to item_favorite_path(shop, current_user.already_liked(shop.id)),
              remote: true,
              id: 'heart-icon',
              method: :delete do %>
                <i class="fas fa-heart"></i>
              <% end %>
          <% else %>
          <%= link_to item_favorites_path(item_id: shop.id),
            remote: true,
            id: 'heart-icon',
            method: :post do %>
              <i class="far fa-heart"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </a>

<% end %>
