<!-- list of all categories ( Category.all ) + 2 card for tools that redirect to their route -->
<%= render 'shared/navbar' %>
<div class="container">
  <div class='category-index-container'>
    <div class='index-header'>
      Tools
    </div>

      <div class="grid-cards">
        <div class="grid-card">
          <p>Measure my travel</p>
          <p><%= image_tag "icon-btn.png", alt: "magnify", width: 50, id:'image-icon' %></p>
        </div>

        <div class="grid-card">
          <p>Measure my meal</p>
          <p><%= image_tag "leaf-grey.png", alt: "leaf", width: 50, id:'image-icon' %></p>
        </div>

        <div class="grid-card">
          <p>Shop responsibily</p>
          <p><%= image_tag "label.png", alt: "label", width: 50, id:'image-icon' %></p>
        </div>

        <div class="grid-card">
          Plant-based recipes
          <p><%= image_tag "carrot.png", alt: "carrot", width: 50, id:'image-icon' %></p>
        </div>

        <div class="grid-card">
          <p>Package free shops</p>
          <p><%= image_tag "grocery.png", alt: "grocery", width: 50, id:'image-icon' %></p>
        </div>

        <div class="grid-card">
          <p>Organic restaurants</p>
          <p><%= image_tag "seed.png", alt: "seed", width: 50, id:'image-icon' %></p>
        </div>

        <div class="grid-card">
          <p>Seasonal foods</p>
          <p><%= image_tag "apple.png", alt: "apple", width: 50, id:'image-icon' %></p>
        </div>

        <div class="grid-card">
          <p>Farmers market</p>
          <p><%= image_tag "tree.png", alt: "tree", width: 50, id:'image-icon' %></p>
        </div>
      </div>

  </div>
</div>
