<!-- <h1>Categories#show</h1>
<p>Find me in app/views/categories/show.html.erb</p> -->

<%= render 'shared/navbar' %>
<div class="main-container">
  <div class="category-container">

  <% if @category.name == "plant-based recipes"  %>
    <div class="search-bar-container">
      <div class="search-bar">
      <%= form_tag category_path(@category), method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control search-btn",
          placeholder: "Find a recipe"
        %>
      </div>
       <div class="magnifying-glass">
         <%= button_tag(type: "submit", class: "search-bar-buttn") do %>
            <i class="fas fa-search fa-lg"></i>
          <% end %>
      </div>
    <% end %>
    </div>


<!--     <div class="item-card">
      <img src="https://res.cloudinary.com/dolfny7hf/image/upload/v1604324794/Screenshot_2020-11-02_at_14.41.55_ebniqf.png">
      <div class="item-card-infos">
        <h2>Recommendation</h2>
        <p><i class="far fa-clock"></i> 45 minutes</p>
        <span class='heart-icon'><i class="far fa-heart"></i></span>
      </div>
    </div> -->

  <div class="recipes-in-here">
    <div class="something">
      <%= render partial: 'categories/items_index' %>
    </div>
  </div>


  <% elsif @category.name == "shop responsibly"  %>

    <div class="search-bar-container">
      <div class="search-bar">
      <%= form_tag category_path(@category), method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control search-btn",
          placeholder: "Find a recipe"
        %>
      </div>
       <div class="magnifying-glass">
         <%= button_tag(type: "submit", class: "search-bar-buttn") do %>
            <i class="fas fa-search fa-lg"></i>
          <% end %>
      </div>
    <% end %>
    </div>

    <div class="shops-in-here mb-50">
      <div class="something">
        <%= render partial: 'categories/items_index' %>
      </div>
    </div>

  <% else %>

  <h3>COMING SOONNNN :) </h3>

  <% end %>

<!--     <div class="item-card">
      <img src="https://res.cloudinary.com/dolfny7hf/image/upload/v1604145319/loj8ksjz8ddp8ydae1w8pflpiwhh.png">
      <div class="item-card-infos">
        <h2>Recommendation</h2>
        <p><i class="far fa-clock"></i> 45 minutes</p>
        <span class='heart-icon'><i class="fas fa-heart"></i></span>
      </div>
    </div>

    <div class="item-card">
      <img src="https://res.cloudinary.com/dolfny7hf/image/upload/v1604324794/Screenshot_2020-11-02_at_14.41.55_ebniqf.png">
      <div class="item-card-infos">
        <h2>Recommendation</h2>
        <p><i class="far fa-clock"></i> 45 minutes</p>
        <span class='heart-icon'><i class="far fa-heart"></i></span>
      </div>
    </div>

    <div class="item-card">
      <img src="https://res.cloudinary.com/dolfny7hf/image/upload/v1604145319/loj8ksjz8ddp8ydae1w8pflpiwhh.png">
      <div class="item-card-infos">
        <h2>Recommendation</h2>
        <p><i class="far fa-clock"></i> 45 minutes</p>
        <span class='heart-icon'><i class="fas fa-heart"></i></span>
      </div>
    </div> -->
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
